.App {
  text-align: center;
}

body {
  background-color: antiquewhite;
}

.App h1 {
  margin-top: 30px;
}

.main {
  display: flex;
  margin: 40px auto;
  max-width: 80%;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px 0;
}

.IngredientsBlock {
  margin-right: 20px;
}

.IngredientsBlock ul {
  list-style: none;
}

/* This may not be working but this will change later and become an input so not important */
.IngredientsBlock li {
  margin: none;
}

.RecipeBlock {
  margin-left: 20px;
}

.Footer {
  font-size: 13px;
}

.Footer a {
  color: rgb(196, 165, 111);
  font-weight: bold;
  text-decoration: none;
}
